<input type="submit" value="Nova CP" onclick="window.location='/lancamento/createCP';" />
<input type="submit" value="Filtrar" onclick="mostrarFiltro();" />
<table id='tableCP' class="table table-striped">
	<thead>
		<tr>
			<th>Fornecedor</th>
			<th>Descrição</th>
			<th>Valor</th>
			<th>Moeda</th>
			<th>Vencimento</th>
		</tr>
	</thead>
	<tbody>
		<% lancamentos.forEach(function(l) { %>
			<tr id='<%= l.id %>'>
				<td><%= l.fornecedor.nome %></td>
				<td><%= l.descricao %></td>
				<td><%= l.valor %></td>
				<td>$U</td>
				<td><%= moment(l.vencimento).format('DD/MM/YYYY') %></td>
				<td><input type="submit" value="BAIXAR" onclick="baixarConta('<%= l.id %>', <%= l.valor %>, false, '/lancamento/contasPagar');"/></td>
				<td><input type="submit" value="DELETE" onclick="deleteRecord('/lancamento/delete', '<%= l.id %>');"/></td>
			</tr>
		<% }); %>
	</tbody>
</table>


<%- include ../modelDelete.ejs %>
<%- include modelBaixa.ejs %>
<%- include ../filtros/modalFiltroCP.ejs %>


<script src="/js/lancamentoHelper.js"></script>

<script>
	var fpsJSON = '<%= JSON.stringify(formasPagamento) %>';
	fpsJSON = fpsJSON.replace(/&quot;/g, '"');
	var formasPagamento = JSON.parse(fpsJSON);
	var pagamentos = [];
	var valorConta = 0;

	var showingIds = [];
	var records = <%- JSON.stringify(lancamentos) %>;
	var showingIds = [];
	var searchedRecords = $.grep(records, function (e) {
		var d1 = new Date(e.vencimento);
		var d2 = new Date();
		return d1 <= d2;
	});
	searchedRecords.forEach(function (element, id) {
		showingIds.push(element.id);
	});
	var rows = $('#tableCP > tbody > tr');
	applyFilter(rows, showingIds);

	function mostrarFiltro() {
		$("#filtroMdl").modal();
	}
</script>