<label>Vendedor: </label>
<br>
<input id='vendedor' type="text" value='<%= vendedor.nome %>' onfocus="findVendedor();" />
<br>
<br>
<label>Cliente: </label>
<br>
<input id='cliente' type="text" value='<%= cliente.nome %>' onfocus="findCliente();" />
<br>
<br>
<label>Produto</label>
<br>
<input id='lojaNome' type="text" value='' name='lojaNome' disabled="true" style="width: 100px;" />
<input id='produto' type="text" value='' placeholder="Produto..." name='produto' onfocus="showProdutos();"/>
<input id='qtde' type="number" value='1' name='qtde'>
<br>
<label>Desconto</label>
<input id='descontoProduto' type="number" value='0' onfocus="descontoProduto();">
<input id='addProduto' type="submit" value="+" onclick="addProduto();"/>

<!-- MODAL -->
<div class="modal fade" id="produtosMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 800px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procurar Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<label>Loja: </label>
		<select id="loja">
			<% lojas.forEach(function(loja) { %>
				<option id=<%=loja.id%>> <%= loja.nome %> </option>
			<% }); %>
		</select>
		<label> Tabela: </label>
		<select id="tabelaPreco">
			<% tabelas.forEach(function(t) { %>
				<option id='<%=t.id%>' value='<%=t.id%>'> <%= t.descricao %> </option>
			<% }); %>
		</select>
		<br>
		<br>

        <label>Produto: </label>
		<input id='produtoNome' type="text" value='' name='produtoNome' />
		<br>
		<div class="modal-scrollable">
			<table id='tableProdutos' class="table table-striped">
				<thead>
					<tr>
						<th>Descrição</th>
						<% estoques.forEach(function (e) { %>
							<th>Qtde. <%= e.descricao %></th>
						<% }); %>
						<% tabelas.forEach(function (t) { %>
							<th><%= t.descricao %></th>
						<% }); %>
					</tr>
				</thead>
				<tbody>
					<% produtos.forEach(function(p) { %>
						<tr id='<%= p.id %>'>
							<td><%= p.descricao %></td>
							<% var achou = false; %>
							<% for (var i = 0; i < estoques.length; i++) { %>
								<% for (var pI = 0; pI < p.estoques.length; pI++) { %>
									<% if (p.estoques[pI].estoque == estoques[i].id) { %>
										<td><%= p.estoques[pI].quantidade %></td>
										<% achou = true; %>
										<% break; %>
									<% } %>
								<% }; %>
								<% if (!achou) { %>
										<td>0</td>
								<% } %>
							<% }; %>
							<% achou = false; %>
							<% for (var i = 0; i < tabelas.length; i++) { %>
								<% for (var pI = 0; pI < p.precos.length; pI++) { %>
									<% if (p.precos[pI].tabelaPreco == tabelas[i].id) { %>
										<td><%= p.precos[pI].valor %></td>
										<% achou = true; %>
										<% break; %>
									<% } %>
								<% }; %>
								<% if (!achou) { %>
										<td>0</td>
								<% } %>
							<% }; %>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarProduto();">Selecionar</button>
      </div>
    </div>
  </div>
</div>

<label>Itens</label>
<table id='tableItens'  class="table table-striped">
	<thead>
		<th>Loja</th>
		<th>Produto</th>
		<th>Preço</th>
		<th>Quantidade</th>
		<th>Desconto</th>
		<th>Total</th>
	</thead>
	<tbody>
	</tbody>
</table>
<input type="submit" value="Desconto" onclick="showDescontoMdl();" />
<br>
<label>Sub-Total: </label>
<label id='subTotal'></label>
<br>
<label>Desconto: </label>
<label id='descontoTotal'></label>
<br>
<label>Total: </label>
<label id='total'></label>
<br>
<label>Total Pago: </label>
<label id='totalPago'></label>
<br>
<label>Forma de Pagamento: </label>
<select id="formaPagamentoSelect">
	<% formasPagamento.forEach(function(fp) { %>
		<option value="<%= fp.id %>"><%= fp.descricao %></option>
	<% }); %>
</select>
<input id='valorFP' type="number" value='0' name='valorFP'>
<input id='addPagamento' type="submit" value="+" onclick="addPagamento();"/>
<br>
<table id='tablePagamentos' class='table table-striped'>
	<thead>
		<th>Forma de Pagamento</th>
		<th>Valor</th>
	</thead>
	<tbody>
	</tbody>
</table>
<br>
<input type="submit" value="Finalizar Venda" onclick="finalizarVenda();" />

<%- include ../modalClientes.ejs %>
<%- include ../modalVendedores.ejs %>
<%- include ./modalDesconto.ejs %>

<script src="/js/vendaHelper.js"></script>
<script>
	<% if (typeof cliente.id == 'undefined') { %>
	var selectedCliente = undefined;
	var clienteObj = undefined;
	<% } else { %>
	var selectedCliente = '<%= cliente.id %>';
	var clienteObj = <%- JSON.stringify(cliente) %>;
	selecionarCliente(true);
	<% } %>
	<% if (typeof vendedor.id == 'undefined') { %>
	var selectedVendedor = undefined;
	var vendedorObj = undefined;
	<% } else { %>
	var selectedVendedor = '<%= vendedor.id %>';
	var vendedorObj = <%- JSON.stringify(vendedor) %>;
	selecionarVendedor(true);
	<% } %>

	var produtos = <%- JSON.stringify(produtos) %>;
	var lojas = <%- JSON.stringify(lojas) %>;
	var tabelas = <%- JSON.stringify(tabelas) %>;
	var estoques = <%- JSON.stringify(estoques) %>;
	var formasPagamento = <%- JSON.stringify(formasPagamento) %>;
</script>