<label>Vendedor: </label>
<br>
<input id='vendedor' type="text" value='<%= vendedor.nome %>' onfocus="findVendedor();" />
<br>
<br>
<label>Cliente: </label>
<br>
<input id='cliente' type="text" value='<%= cliente.nome %>' onfocus="findCliente();" />
<br>
<br>
<label>Produto</label>
<br>
<input id='lojaNome' type="text" value='' name='lojaNome' disabled="true" style="width: 100px;" />
<input id='produto' type="text" value='' placeholder="Produto..." name='produto' onkeyup="search()" onfocus="showProdutos();"/>
<input id='qtde' type="number" value='1' name='qtde'>
<input id='addProduto' type="submit" value="+" onclick="addProduto();"/>

<!-- MODAL -->
<div class="modal fade" id="produtosMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procurar Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<label>Loja: </label>
		<select id="loja">
			<% lojas.forEach(function(loja) { %>
				<option id=<%=loja.id%>> <%= loja.nome %> </option>
			<% }); %>
		</select>
		<label> Tabela: </label>
		<select id="tabelaPreco">
			<% tabelas.forEach(function(t) { %>
				<option id='<%=t.id%>' value='<%=t.id%>'> <%= t.descricao %> </option>
			<% }); %>
		</select>
		<br>
		<br>

        <label>Produto: </label>
		<input id='produtoNome' type="text" value='' name='produtoNome' />
		<br>
		<table id='tableProdutos' class="table table-striped">
			<thead>
				<tr>
					<th>Descrição</th>
					<% tabelas.forEach(function (t) { %>
						<th><%= t.descricao %></th>
					<% }); %>
				</tr>
			</thead>
			<tbody>
				<% produtos.forEach(function(p) { %>
					<tr id='<%= p.id %>'>
						<td><%= p.descricao %></td>
						<% tabelas.forEach(function (t) { %>
							<td><%= p[t.descricao] %></td>
						<% }); %>
					</tr>
				<% }); %>
			</tbody>
		</table>
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarProduto();">Selecionar</button>
      </div>
    </div>
  </div>
</div>

<label>Itens</label>
<table id='tableItens'  class="table table-striped">
	<thead>
		<th>Loja</th>
		<th>Produto</th>
		<th>Preço</th>
		<th>Quantidade</th>
		<th>Total</th>
	</thead>
	<tbody>
	</tbody>
</table>

<br>
<label>Sub-Total: </label>
<label id='subTotal'></label>
<br>
<label>Total: </label>
<label id='total'></label>
<br>
<label>Total Pago: </label>
<label id='totalPago'></label>
<br>
<label>Forma de Pagamento: </label>
<select id="formaPagamentoSelect">
	<% formasPagamento.forEach(function(fp) { %>
		<option value="<%= fp.id %>"><%= fp.descricao %></option>
	<% }); %>
</select>
<input id='valorFP' type="number" value='0' name='valorFP'>
<input id='addPagamento' type="submit" value="+" onclick="addPagamento();"/>
<br>
<table id='tablePagamentos' class='table table-striped'>
	<thead>
		<th>Forma de Pagamento</th>
		<th>Valor</th>
	</thead>
	<tbody>
	</tbody>
</table>
<br>
<input type="submit" value="Finalizar Venda" onclick="finalizarVenda();" />

<%- include ../modalClientes.ejs %>
<%- include ../modalVendedores.ejs %>


<script>
	var clientes = [];
	<% if (typeof cliente.id == 'undefined') { %>
	var selectedCliente = -1;
	var clienteObj = undefined;
	<% } else { %>
	var selectedCliente = '<%= cliente.id %>';
	var clienteObj = <%- JSON.stringify(cliente) %>;
	selecionarCliente(true);
	<% } %>
	var searchRowsCliente = $('#tableClientes tr');
	$('#clienteMdl').on('shown.bs.modal', function () {
	  $('#clienteNome').focus()
	});

	var vendedores = [];
	<% if (typeof vendedor.id == 'undefined') { %>
	var selectedVendedor = -1;
	var vendedorObj = undefined;
	<% } else { %>
	var selectedVendedor = '<%= vendedor.id %>';
	var vendedorObj = <%- JSON.stringify(vendedor) %>;
	selecionarVendedor(true);
	<% } %>
	var searchRowsVendedores = $('#tableVendedores tr');
	$('#vendedorMdl').on('shown.bs.modal', function () {
	  $('#vendedorNome').focus()
	});
	var itensDaVenda = [];
	var pagamentos = [];
	var prodJSON = '<%= JSON.stringify(produtos) %>';
	prodJSON = prodJSON.replace(/&quot;/g, '"');
	var produtos = JSON.parse(prodJSON);

	var lojasJSON = '<%= JSON.stringify(lojas) %>';
	lojasJSON = lojasJSON.replace(/&quot;/g, '"');
	var lojas = JSON.parse(lojasJSON);

	var tabelasJSON = '<%= JSON.stringify(tabelas) %>';
	tabelasJSON = tabelasJSON.replace(/&quot;/g, '"');
	var tabelas = JSON.parse(tabelasJSON);

	var fpsJSON = '<%= JSON.stringify(formasPagamento) %>';
	fpsJSON = fpsJSON.replace(/&quot;/g, '"');
	var formasPagamento = JSON.parse(fpsJSON);
	var searchRows = $('#tableProdutos tr');
	searchRows.splice(0, 1);
	$('#produto').keypress(function (e) {
		if (e.keyCode == 13) {
			$('#addProduto').click();
		}
	});
	$('#qtde').keypress(function (e) {
		if (e.keyCode == 13) {
			$('#addProduto').click();
		}
	});

	var selectedProd = -1;
	var selectedLoja = -1;
	var selectedTabela = -1;


function showProdutos() {
	searchRows.on('click', function (e) {
		var row = $(this);
		if (selectedProd > -1) {
			$('#' + selectedProd).removeClass('highlight');
		}
		row.addClass('highlight');
		selectedProd = row.attr('id');
	});
	$('#produtoNome').val('');
	search();
	$("#produtoNome").bind('keydown', search);
	$("#produtosMdl").modal();
}

function selecionarProduto() {
	$('#' + selectedProd).removeClass('highlight');
	selectedLoja = $('#loja option:selected').attr("id");
	selectedTabela = $('#tabelaPreco option:selected').attr("id");
	$('#lojaNome').val(getLojaNome(selectedLoja));
	getProduto(selectedProd, function (produto) {
		$("#produto").val(produto.descricao);
		$("#produtosMdl").modal('hide');
	});
}

function search() {
	var text = $('#produtoNome').val();
	var val = $.trim(text).replace(/ +/g, ' ').toLowerCase();

	searchRows.show().filter(function() {
		var text = $(this).text().replace(/\s+/g, ' ').	toLowerCase();
		return !~text.indexOf(val);
	}).hide();
}

function getProduto(id, cb) {
	produtos.forEach(function (produto) {
		if (produto.id == id) {
			cb(produto);
		}
	});
}

function getFP(id, cb) {
	formasPagamento.forEach(function (fp) {
		if (fp.id == id) {
			cb(fp);
		}
	});
}

function getTotal() {
	var subTotal = 0;
	itensDaVenda.forEach(function (item) {
		subTotal += item.total;
	});
	return subTotal;
}

function getTotalPagto() {
	var totalPag = 0;
	pagamentos.forEach(function (pagamento) {
		totalPag += (parseInt(pagamento.valor) * pagamento.cotacao);
	});
	return totalPag;
}

function sumTotal() {
	var sumTotal = getTotal();
	$('#subTotal').text(sumTotal);
	$('#total').text(sumTotal);
}

function addPagamento() {
	var fpID = $('#formaPagamentoSelect').find(":selected").val();
	var valor = parseInt($('#valorFP').val());

	getFP(fpID, function (fp) {
		var newPagamento = {
			condicaoPagamento: fp.condicaoPagamento,
			formaPagamento: fp.formaPagamento,
			valor: valor,
			cotacao: fp.cotacao
		};
		pagamentos.push(newPagamento);
		$('#tablePagamentos tr:last').after('<tr><td>' + fp.descricao + '</td><td>' + valor + '</td></tr>');
		$('#totalPago').text(getTotalPagto());
	});
}

function getLojaNome(id) {
	for (var i = lojas.length - 1; i >= 0; i--) {
		if (lojas[i].id == id) {
			return lojas[i].nome;
		}
	}
}

function getPrecoVenda(_produto) {
	for (var i = 0; i < _produto.precos.length; i++) {
		if (_produto.precos[i].tabelaPreco == selectedTabela) {
			return _produto.precos[i].valor;
		}
	}
	return 0;
}

function addProduto() {
	getProduto(selectedProd, function (produto) {
		var valorProd = getPrecoVenda(produto);
		var newItem = {
			produto: produto,
			qtde: $('#qtde').val(),
			venda: valorProd,
			custo: produto.custo,
			total: (valorProd * $('#qtde').val()),
			loja: selectedLoja
		};
		itensDaVenda.push(newItem);
		$('#tableItens tr:last').after('<tr><td>' + getLojaNome(newItem.loja) + '</td><td>' + produto.descricao + '</td><td>' + newItem.venda + '</td><td>' + newItem.qtde + '</td><td>' + newItem.total + '</td></tr>');
		sumTotal();
		$('#produto').val('');
		$('#lojaNome').val('');
		$('#qtde').val('1');
	});
}

function getItensForPost(_itens) {
	let itensFP = [];
	for (var i = _itens.length - 1; i >= 0; i--) {
		itensFP.push({
			produto: _itens[i].produto.id,
			quantidade: _itens[i].qtde,
			custo: _itens[i].custo,
			preco: _itens[i].venda,
			loja: _itens[i].loja
		});
	}
	return itensFP;
}

function getPagamentosForPost(_pagamentos) {
	let pagamentosFP = [];

	for (var i = _pagamentos.length - 1; i >= 0; i--) {
		pagamentosFP.push({
			formaPagamento: _pagamentos[i].formaPagamento.id,
			valor: _pagamentos[i].valor
		});
	}

	return pagamentosFP;
}


function getCliente(id) {
	for (var i = clientes.length - 1; i >= 0; i--) {
		if (clientes[i].id == id) {
			return clientes[i];
		}
	}
	return undefined;
}

function selecionarCliente(_fromView) {
	_fromView = _fromView || false;
	if (selectedCliente !== -1) {
		if (!_fromView) {
			clienteObj = getCliente(selectedCliente);
		}
		$('#cliente').val(clienteObj.nome);
		$('#clienteMdl').modal('hide');
		if (clienteObj.tabelaPreco) {
			$('#tabelaPreco').val(clienteObj.tabelaPreco);
		}
	}
}


function findCliente() {
	io.socket.get('/cliente/getAll', function (resData, jwres) {
		clientes = resData;
		$("#tbodyClientes").empty();

		for (var i = clientes.length - 1; i >= 0; i--) {
			$('#tableClientes > tbody:last-child').append('<tr id="' + clientes[i].id + '"><td>' + clientes[i].nome + '</td></tr>');
		}
		searchRowsCliente = $('#tableClientes tr');
		searchRowsCliente.splice(0, 1);
		searchRowsCliente.on('click', function (e) {
			var row = $(this);
			if (selectedCliente > -1) {
				$('#' + selectedCliente).removeClass('highlight');
			}
			row.addClass('highlight');
			selectedCliente = row.attr('id');
		});
		$("#clienteNome").bind('keydown', filtrarClientes);
		$("#clienteMdl").modal();
	});
};

function filtrarClientes(e) {
	setTimeout(function () {
		var text = $("#clienteNome").val();
		var val = $.trim(text).replace(/ +/g, ' ').toLowerCase();
		searchRowsCliente.show().filter(function() {
			var text = $(this).text().replace(/\s+/g, ' ').	toLowerCase();
			return !~text.indexOf(val);
		}).hide();
	}, 200);
};


function getVendedor(id) {
	for (var i = vendedores.length - 1; i >= 0; i--) {
		if (vendedores[i].id == id) {
			return vendedores[i];
		}
	}
	return undefined;
}

function selecionarVendedor(_fromView) {
	_fromView = _fromView || false;
	if (selectedVendedor !== -1) {
		if (!_fromView) {
			vendedorObj = getVendedor(selectedVendedor);
		}
		$('#vendedor').val(vendedorObj.nome);
		$('#vendedorMdl').modal('hide');
	}
}


function findVendedor() {
	io.socket.get('/vendedor/getAll', function (resData, jwres) {
		vendedores = resData;
		$("#tbodyVendedores").empty();

		for (var i = vendedores.length - 1; i >= 0; i--) {
			$('#tableVendedores > tbody:last-child').append('<tr id="' + vendedores[i].id + '"><td>' + vendedores[i].nome + '</td></tr>');
		}
		searchRowsVendedores = $('#tableVendedores tr');
		searchRowsVendedores.splice(0, 1);
		searchRowsVendedores.on('click', function (e) {
			var row = $(this);
			if (selectedVendedor > -1) {
				$('#' + selectedVendedor).removeClass('highlight');
			}
			row.addClass('highlight');
			selectedVendedor = row.attr('id');
		});
		$("#vendedorNome").bind('keydown', filtrarVendedores);
		$("#vendedorMdl").modal();
	});
};

function filtrarVendedores(e) {
	setTimeout(function () {
		var text = $("#vendedorNome").val();
		var val = $.trim(text).replace(/ +/g, ' ').toLowerCase();
		searchRowsVendedores.show().filter(function() {
			var text = $(this).text().replace(/\s+/g, ' ').	toLowerCase();
			return !~text.indexOf(val);
		}).hide();
	}, 200);
};


function finalizarVenda() {
	var totalItens = getTotal();
	var totalPagto = getTotalPagto();
	if (totalPagto < totalItens) {
		alert('Pagamento insuficiente!');
		return;
	}

	io.socket.post('/venda/createPost', { venda: {
		itens: getItensForPost(itensDaVenda),
		pagamentos: pagamentos,
		total: totalItens,
		cliente: selectedCliente,
		vendedor: selectedVendedor
	}}, function (resData) {
		if (resData.statusCode == 200) {
			document.location = '/venda';
		}
	});
}
</script>