<label>Vendedor: </label>
<br>
<input id='vendedor' type="text" value='<%= vendedor.nome %>' onfocus="findVendedor();" />
<br>
<br>
<label>Cliente: </label>
<br>
<input id='cliente' type="text" value='<%= cliente.nome %>' onfocus="findCliente();" />
<br>
<br>
<label>Produto</label>
<br>
<input id='lojaNome' type="text" value='' name='lojaNome' disabled="true" style="width: 100px;" />
<input id='produto' type="text" value='' placeholder="Produto..." name='produto' onkeyup="search()" onfocus="showProdutos();"/>
<input id='qtde' type="number" value='1' name='qtde'>
<br>
<label>Desconto</label>
<input id='descontoProduto' type="number" value='0'>
<input id='addProduto' type="submit" value="+" onclick="addProduto();"/>

<!-- MODAL -->
<div class="modal fade" id="produtosMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procurar Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	
      	<label>Loja: </label>
		<select id="loja">
			<% lojas.forEach(function(loja) { %>
				<option id=<%=loja.id%>> <%= loja.nome %> </option>
			<% }); %>
		</select>
		<label> Tabela: </label>
		<select id="tabelaPreco">
			<% tabelas.forEach(function(t) { %>
				<option id='<%=t.id%>' value='<%=t.id%>'> <%= t.descricao %> </option>
			<% }); %>
		</select>
		<br>
		<br>

        <label>Produto: </label>
		<input id='produtoNome' type="text" value='' name='produtoNome' />
		<br>
		<div style="max-height: 350px; overflow-y: scroll; overflow-x: hidden;">
			<table id='tableProdutos' class="table table-striped">
				<thead>
					<tr>
						<th>Descrição</th>
						<% tabelas.forEach(function (t) { %>
							<th><%= t.descricao %></th>
						<% }); %>
					</tr>
				</thead>
				<tbody>
					<% produtos.forEach(function(p) { %>
						<tr id='<%= p.id %>'>
							<td><%= p.descricao %></td>
							<% tabelas.forEach(function (t) { %>
								<% p.precos.forEach(function (preco) { %>
									<% if (preco.tabelaPreco == t.id) { %>
										<td><%= preco.valor %></td>
									<% } %>
								<% }); %>
							<% }); %>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarProduto();">Selecionar</button>
      </div>
    </div>
  </div>
</div>

<label>Itens</label>
<table id='tableItens'  class="table table-striped">
	<thead>
		<th>Loja</th>
		<th>Produto</th>
		<th>Preço</th>
		<th>Quantidade</th>
		<th>Total</th>
	</thead>
	<tbody>
	</tbody>
</table>
<input type="submit" value="Desconto" onclick="showDescontoMdl();" />
<br>
<label>Sub-Total: </label>
<label id='subTotal'></label>
<br>
<label>Desconto: </label>
<label id='descontoTotal'></label>
<br>
<label>Total: </label>
<label id='total'></label>
<br>
<input type="submit" value="Finalizar Orçamento" onclick="finalizarOrcamento();" />

<%- include ../modalClientes.ejs %>
<%- include ../modalVendedores.ejs %>
<%- include ./modalDesconto.ejs %>


<script src="/js/vendaHelper.js"></script>
<script>
	<% if (typeof cliente.id == 'undefined') { %>
	var selectedCliente = undefined;
	var clienteObj = undefined;
	<% } else { %>
	var selectedCliente = '<%= cliente.id %>';
	var clienteObj = <%- JSON.stringify(cliente) %>;
	selecionarCliente(true);
	<% } %>
	<% if (typeof vendedor.id == 'undefined') { %>
	var selectedVendedor = undefined;
	var vendedorObj = undefined;
	<% } else { %>
	var selectedVendedor = '<%= vendedor.id %>';
	var vendedorObj = <%- JSON.stringify(vendedor) %>;
	selecionarVendedor(true);
	<% } %>
	var prodJSON = '<%= JSON.stringify(produtos) %>';
	prodJSON = prodJSON.replace(/&quot;/g, '"');
	var produtos = JSON.parse(prodJSON);

	var lojasJSON = '<%= JSON.stringify(lojas) %>';
	lojasJSON = lojasJSON.replace(/&quot;/g, '"');
	var lojas = JSON.parse(lojasJSON);

	var tabelasJSON = '<%= JSON.stringify(tabelas) %>';
	tabelasJSON = tabelasJSON.replace(/&quot;/g, '"');
	var tabelas = JSON.parse(tabelasJSON);

	var fpsJSON = '<%= JSON.stringify(formasPagamento) %>';
	fpsJSON = fpsJSON.replace(/&quot;/g, '"');
	var formasPagamento = JSON.parse(fpsJSON);
</script>