<script src="/js/jquery.rut.min.js"></script>
<script src="/js/createCliente.js"></script>
<label>Nombre</label>
<br>
<input id='nome' type="text" value='<%= cliente.nome %>' name='nome' />
<br>
<br>
<label>RUT</label>
<br>
<input id='rut' type="text" value='<%= cliente.rut %>' name='rut' />
<br>
<br>
<label>E-mail</label>
<br>
<input id='email' type="text" value='<%= cliente.email %>' />
<br>
<br>
<label>Tabla de Precio</label>
<br>
<select id="tabelasPreco"></select>
<br>
<br>
<input type="submit" value="Salvar" onclick="editCliente();" />

<script>
	var clienteID = '<%= cliente.id %>';
	$("#rut").rut().on('rutInvalido', function(e) {
		//alert("El rut " + $(this).val() + " es inválido");
		$("#rut").addClass("invalid");
	}).on('rutValido', function (e) {
		$("#rut").removeClass("invalid");
	});

	var tabelasDePreco = <%- JSON.stringify(tabelasPreco) %>;

	tabelasDePreco.forEach(function (item, index) {
		$('#tabelasPreco')
	    	.append($("<option></option>")
	        .attr("value",item.id)
	        .text(item.descricao)); 
	});

	<% if (typeof cliente.tabelaPreco !== 'undefined') { %>
		$('#tabelasPreco').val('<%= cliente.tabelaPreco.id %>');
	<% } %>
</script>