<label>Código</label>
<br>
<input id='codigo' type="number" value='<%= produto.codigo %>' name='codigo' />
<br>
<label>Descripción</label>
<br>
<input id='descricao' type="text" value='<%= produto.descricao %>' name='descricao' />
<br>
<label>Proveedor</label>
<br>
<input id='fornecedor' type="text" value='' name='fornecedor' onfocus="findFornecedor();" />
<br>
<label>Categoría</label>
<br>
<input id='categoria' type="text" value='' name='categoria' onfocus="findCategoria();" />
<br>
<br>
<label>Cantidades</label>
<br>
<div>
	<div id="newQtde">
		<select id="estoques"></select>
		<input id='quantidade' type="number" value=''  />
		<input type="submit" value="Adicionar Cantidad" onclick="addQtde();" />	
	</div>
	<table id='tableQtdes' class="table table-striped">
		<thead>
			<tr>
				<th>Estoque</th>
				<th>Cantidad</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<label>Precio de Costo</label>
<br>
<input id='custo' type="number" value='<%= produto.custo %>' name='custo' />
<br>
<br>
<label>Precios de Venta</label>
<br>
<div>
	<div id="newPreco">
		<select id="tabelasPreco"></select>
		<input id='venda' type="number" value='' name='venda' />
		<input type="submit" value="Adicionar Precio" onclick="addPreco();" />	
	</div>
	<table id='tablePrecos' class="table table-striped" >
		<thead>
			<tr>
				<th>Tabla</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<div class="checkbox">
	<label><input id="fiscal" type="checkbox"  checked='<%= produto.fiscal %>'/>Fiscal</label>
</div>
<br>
<label>Peso</label>
<br>
<input id='peso' type="number" value='<%= produto.peso %>' />
<br>
<label>Largura</label>
<br>
<input id='largura' type="number" value='<%= produto.largura %>' />
<br>
<label>Altura</label>
<br>
<input id='altura' type="number" value='<%= produto.altura %>' />
<br>
<label>Profundidade</label>
<br>
<input id='profundidade' type="number" value='<%= produto.profundidade %>' />
<br>
<br>
<label>Atributos</label>
<br>
<div>
	<div id="newAtributo">
		<label>Nombre</label>
		<label style='margin-left: 120px;'>Valores (separados por ';')</label>
		<br>
		<input id='atributoNome' type='text' value='' />
		<input id='atributoValores' type='text' value='' />
		<input type="submit" value="Adicionar Atributo" onclick="addAtributo();" />	
	</div>
	<table id='tableAtributos' class='table table-striped'>
		<thead>
			<tr>
				<th>Atributo</th>
				<th>Valores</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<br>
<label>Fotos</label>
<br>
<div>
	<div id="newFoto">
		<input id="newFotoUpload" type="file" >
	</div>
	<div id="fotosDiv">
	</div>
</div>
<br>
<br>
<input type="submit" value="Salvar" onclick="editProduto();" />
<!-- MODAL -->
<div class="modal fade" id="categoriaMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Busquedá Categorías</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Categoría</label>
		<br>
		<input id='categoriaInput' type="text" value='' name='categoriaInput' />
		<br>

		<table id='tableCategorias' class="table table-striped">
			<thead>
				<th>Categoría</th>
			</thead>
			<tbody id="tbodyCategorias">
			</tbody>
		</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarCategoria();">Selecionar</button>
      </div>
    </div>
  </div>
</div>

<%- include ../modalFornecedores.ejs %>


<script>
	var produtoID = <%= produto.id %>;
	$(document).ready(function() {
		selecionarCategoria();
	});
	var fornecedores = [];
	<% if (produto.fornecedor) { %>
		var selectedFornecedor = <%- produto.fornecedor.id %>;
		var fornecedorObj = <%- JSON.stringify(produto.fornecedor) %>;
	<% } else { %>
		var selectedFornecedor = -1;
		var fornecedorObj = undefined;
	<% } %>
	var fornecedorSR = $('#tableFornecedores tr');
	$('#fornecedorMdl').on('shown.bs.modal', function () {
	  $('#fornecedorNome').focus()
	});
	var tabelasDePreco = <%- JSON.stringify(tabelasPreco) %>;
	var estoques = <%- JSON.stringify(estoques) %>;
	var precos = <%- JSON.stringify(produto.precos) %>;
	var quantidades = <%- JSON.stringify(produto.estoques) %>;
	var fotos = <%- JSON.stringify(produto.galeria) %>;
	var atributos = <%- JSON.stringify(produto.atributos) %>;
	var valoresAtributos = <%- JSON.stringify(produto.valoresAtributos) %>;

	var categorias = [];
	<% if (typeof produto.categoria !== 'undefined') { %>
		var selectedCategoria =  <%= produto.categoria.id %>;
		var categoriaObj = <%- JSON.stringify(produto.categoria) %>;
	<%} else { %>
		var selectedCategoria;
		var categoriaObj;
	<% } %>
	var searchRows = $('#tableCategorias tr');

	$('#categoriaMdl').on('shown.bs.modal', function () {
	  $('#cateogriaInput').focus()
	});
</script>
<script src="/js/produtoHelper.js"></script>