<label>Código</label>
<br>
<input id='codigo' type="number" value='<%= produto.codigo %>' name='codigo' />
<br>
<label>Descrição</label>
<br>
<input id='descricao' type="text" value='<%= produto.descricao %>' name='descricao' />
<br>
<label>Fornecedor</label>
<br>
<input id='fornecedor' type="text" value='' name='fornecedor' onfocus="findFornecedor();" />
<br>
<label>Categoria</label>
<br>
<input id='categoria' type="text" value='' name='categoria' onfocus="findCategoria();" />
<br>
<br>
<label>Quantidades</label>
<br>
<div>
	<div id="newQtde">
		<select id="estoques"></select>
		<input id='quantidade' type="number" value=''  />
		<input type="submit" value="Adicionar Quantidade" onclick="addQtde();" />	
	</div>
	<table id='tableQtdes' class="table table-striped">
		<thead>
			<tr>
				<th>Estoque</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<label>Preço de Custo</label>
<br>
<input id='custo' type="number" value='<%= produto.custo %>' name='custo' />
<br>
<br>
<label>Preços de Venda</label>
<br>
<div>
	<div id="newPreco">
		<select id="tabelasPreco"></select>
		<input id='venda' type="number" value='' name='venda' />
		<input type="submit" value="Adicionar Preço" onclick="addPreco();" />	
	</div>
	<table id='tablePrecos' class="table table-striped" >
		<thead>
			<tr>
				<th>Tabela</th>
				<th>Preço</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<input type="submit" value="Salvar" onclick="editProduto();" />
<!-- MODAL -->
<div class="modal fade" id="categoriaMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procurar Categorias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Categoria</label>
		<br>
		<input id='categoriaInput' type="text" value='' name='categoriaInput' />
		<br>

		<table id='tableCategorias' class="table table-striped">
			<thead>
				<th>Categoria</th>
			</thead>
			<tbody id="tbodyCategorias">
			</tbody>
		</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarCategoria();">Selecionar</button>
      </div>
    </div>
  </div>
</div>

<%- include ../modalFornecedores.ejs %>


<script>
	var produtoID = '<%= produto.id %>';
	$(document).ready(function() {
		selecionarCategoria();
	});
	var fornecedores = [];
	<% if (produto.fornecedor) { %>
		var selectedFornecedor = '<%- produto.fornecedor.id %>';
		var fornecedorObj = <%- JSON.stringify(produto.fornecedor) %>;
	<% } else { %>
		var selectedFornecedor = -1;
		var fornecedorObj = undefined;
	<% } %>
	var fornecedorSR = $('#tableFornecedores tr');
	$('#fornecedorMdl').on('shown.bs.modal', function () {
	  $('#fornecedorNome').focus()
	});
	var tabelasDePreco = <%- JSON.stringify(tabelasPreco) %>;
	var estoques = <%- JSON.stringify(estoques) %>;
	var precos = <%- JSON.stringify(produto.precos) %>;
	var quantidades = <%- JSON.stringify(produto.estoques) %>;

	var categorias = [];
	<% if (typeof produto.categoria !== 'undefined') { %>
		var selectedCategoria =  '<%= produto.categoria.id %>';
		var categoriaObj = <%- JSON.stringify(produto.categoria) %>;
	<%} else { %>
		var selectedCategoria;
		var categoriaObj;
	<% } %>
	var searchRows = $('#tableCategorias tr');

	$('#categoriaMdl').on('shown.bs.modal', function () {
	  $('#cateogriaInput').focus()
	});
</script>
<script src="/js/produtoHelper.js"></script>